body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
    z-index: -100;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
    z-index: -100;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    // background: url('../img/videoframe.jpg') center center / cover no-repeat;
    z-index: -100;
  }

  .fullscreen-bg__video {
    display: none;
    z-index: -100;
  }
}

.heading {
  color: white;
  z-index: 1;
  text-align: center;
}


.chatText {
  margin: 10;
}

.chatPic {
  height: 25px;
  border-radius: 20px;
  display: inline-block;
}

.song-pic {
  height: 50px;
  display: inline-block;
}

.song-play {
  display: inline-block;
  height: 25px;
}

.num-likes {
  font-size: 75%;
  display: inline-block;
}

.been-liked {
  display: inline-block;
  height: 25px;
  opacity: 0.5;
}

.friend-icon {
  display: inline-block;
  height: 35px;
  border-radius: 20px;
}

.friend-text {
  display: inline-block;
  margin: 0;
}

.start {
  // color: white;
  // z-index: 1;
  // background-color: green;
  // border-radius: 20px;
  background: initial;
	border: initial;
	border-width: 0 7px;
	box-sizing: border-box;
	color: green;
	cursor: default;
	display: inline-block;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	padding: 2px;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 0 1px 0 #EEE;
	white-space: nowrap;
}

.profile-heading {
  text-align: center;
  background: initial;
	border: initial;
	border-width: 0 7px;
	box-sizing: border-box;
	color: black;
	cursor: default;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	padding: 2px;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 0 1px 0 blue;
	white-space: nowrap;
}

.center { 
  text-align: center;
}

.col-left {
  float:left; 
  margin:0; 
  width:50%;
}

.col-right {
  float:left; 
  margin:0; 
  width:50%;
}

.columns {
  margin:0px auto; 
  width:100%;
}

.form-box {
  clear: both;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #34d934;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.chat {
  background-color: gray;
  width: 33%;
}

.btn-open {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.btn-open:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-box {
  float: left;
}

.nav-box:hover {
  background-color: green;
  cursor: pointer;
}

.nav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.artist-icon {
  display: inline-block;
  height: 50px;
  border-radius: 20px;
}
